<h3><%= pluralize(@artists.count, 'Song') %></h3>

<ul>
  <% @artists.each do |art| %>
    <li><%= pluralize(art.song_count, 'song') %></li>
    <li><%=link_to art.name, artist_path(art) %></li>
  <% end %>
</ul>